body {
    margin: 0;
    direction: rtl;
    background: #81ecec;
}

* {
    font-family: 'IranYekan';
    text-decoration: none;
    list-style: none;
}

.questionBox {
    width: 50%;
    box-shadow: 0 0 20px 1px #889c9c;
}

.question {
    background: #fff;
    box-shadow: 0 0 6px 1px #c3cbce;
}

.question .header h6 {
    font-size: 14px;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.question button {
    width: 20px;
    height: 20px;
}

.question p {
    font-size: 14px;
    text-align: justify;
}